<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Przekaźniki</title>
  </head>
  <body>

<div class="container">
  <div class="row">
    <div class="col-md-12 rounded border bg-secondary">
      <h1 class="text-center">Sterowanie przekaźnikami</h1>
        <div class="row justify-content-center">
          <div class = "col-md-4">
          {% if st[7]==1 %}
						<a  href="/7/off" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/7/on" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
          </div>
        </div>
    </div>
  </div>
</div
  </body>
</html>
