{% extends 'base.html' %}
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        



        {{ colorpicker.loader() }}
        {{ colorpicker.picker(ids=['.kitchen', '.hall', '.living_room', '.bathroom']) }}
<title>Panel sterowania</title>
{% endblock %}

{% block body %}


<main role="main">
    <div class="jumbotron">
		<p class="display-4 d-inline">Oświetlenie</p>
		<div class="float-right">

					{% if relay[2]==1 %}
						<a  href="/control/relay/3/0" class="btn btn-lg btn-dark bigonof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/3/1" class="btn btn-lg btn-dark active bigonof" role="button">Włącz</a> 
					{% endif %}
					</div>
		<hr class="col-xs-12">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-3 border rounded">
				<p class="h4 d-inline">Kuchnia</p>
				<div class="float-right">
					{% if state[0]==1 %}
						<a  href="/control/kitchen/off" class="btn  btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/kitchen/on" class="btn  btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
				<form method="post" action="{{url_for('control.panel') }}">
					<input class='kitchen' name='kitchen' value={{ color[0] }} />
					<input class="btn btn-primary btn-sm " name="kitchen" type="submit" value="✓">
				</form>
			</div>

			<div class="col-sm-6 col-lg-3 border rounded">
				<p class="h4 d-inline">Hol</p>
				<div class="float-right">
					{% if state[1]==1 %}
						<a href="/control/hall/off" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/hall/on" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
				<form method="post" action="{{url_for('control.panel') }}">
					<input class='hall' name='hall' value={{ color[1] }} />
					<input class="btn btn-primary btn-sm" name="hall" type="submit" value="✓">
				</form>
			</div>
			<div class="col-sm-6 col-lg-3 border rounded">
				<p class="h4 d-inline">Salon</p>
				<div class="float-right">
					{% if state[2]==1 %}
						<a href="/control/living_room/off" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/living_room/on" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
				<form method="post" action="{{url_for('control.panel') }}">
					<input class='living_room' name='living_room' value={{ color[2] }} />
					<input class="btn btn-primary btn-sm" name="living_room" type="submit" value="✓">
				</form>
			</div>
			<div class="col-sm-6 col-lg-3 border rounded">
				<p class="h4 d-inline">Łazienka</p>
				<div class="float-right">
					{% if state[3]==1 %}
						<a href="/control/bathroom/off" class="btn  btn-dark  onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/bathroom/on" class="btn  btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>			
				<form method="post" action="{{url_for('control.panel') }}">
					<input class='bathroom' name='bathroom' value={{ color[3] }} />
					<input class="btn btn-primary btn-sm" name="bathroom" type="submit" value="✓">
				</form>
			</div>

		</div>	
		
		<hr class="col-xs-12">
		<p class="display-4">Przekaźniki</p>
			<hr class="col-xs-12">
		<div class="row justify-content-center">
			{% if relay[0]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">Ściemniacz</p>
				<div class="float-right">
					{% if relay[0]==1 %}
						<a  href="/control/relay/1/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/1/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
			</div>
		{% if relay[1]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">Wentylator</p>
				<div class="float-right">
					{% if relay[1]==1 %}
						<a  href="/control/relay/2/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/2/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
			{% if relay[2]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">LED</p>
					<div class="float-right">
					{% if relay[2]==1 %}
						<a  href="/control/relay/3/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/3/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
					</div>

			</div>
			{% if relay[3]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">CH4</p>
				<div class="float-right">
					{% if relay[3]==1 %}
						<a  href="/control/relay/4/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/4/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
		</div>
		<div class="row justify-content-center">
			{% if relay[4]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">CH5</p>
				<div class="float-right">
					{% if relay[4]==1 %}
						<a  href="/control/relay/5/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/5/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
				{% if relay[5]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">CH6</p>
				<div class="float-right">
					{% if relay[5]==1 %}
						<a  href="/control/relay/6/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/6/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
				{% if relay[6]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">CH7</p>
				<div class="float-right">
					{% if relay[6]==1 %}
						<a  href="/control/relay/7/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/7/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
				{% if relay[7]==1 %}
				<div class="col-sm-6 col-lg-3 border rounded bg-success">
				{% else %}
				<div class="col-sm-6 col-lg-3 border rounded bg-danger">
				{% endif %}
				<p class="h4 d-inline">CH8</p>
				<div class="float-right">
					{% if relay[7]==1 %}
						<a  href="/control/relay/8/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/relay/8/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>

			</div>
			</div>
		<hr class="col-xs-12">
		<p class="display-4 d-inline">Temperatura</p>
				<div class="float-right">
					<p class=" h3 d-inline">{{ now_temp }}°C</p>
				</div>
		<hr class="col-xs-12">
		
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-6 border rounded">
				
				<p class="h4 d-inline">Chłodzenie</p>
				
				<div class="float-right">
					{% if temperature[1]==1 %}
						<a href="/control/temperature/cooling/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/temperature/cooling/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
				<div class="row">
				<p class=" h6 d-inline">Temperatura zadana = {{ temperature[3] }}</p>
				</div>
				<div class=" row justify-content-center float-center">
				<div class="form-group">
				    <form method="post" action="{{url_for('control.panel') }}">
					<input class='cooling' name='cooling' type="number" step="0.1" min="16" max="22" placeholder="°C">
					<input class="btn btn-primary btn-sm " name="cooling" type="submit" value="✓">
					</form>
				</div>
				
				</div>
			</div>

			<div class="col-sm-12 col-lg-6 border rounded">
				
				<p class="h4 d-inline">Ogrzewanie</p>
				
				<div class="float-right">
					{% if temperature[0]==1 %}
						<a href="/control/temperature/heating/0" class="btn btn-dark onof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/temperature/heating/1" class="btn btn-dark active onof" role="button">Włącz</a> 
					{% endif %}
				</div>
				<div class="row">
				<p class=" h6 d-inline">Temperatura zadana = {{ temperature[2] }}</p>
				</div>
				<div class=" row justify-content-center float-center">
				<div class="form-group">
				    <form method="post" action="{{url_for('control.panel') }}">
					<input class="heating" name='heating' type="number" step="0.1" min="20" max="60" placeholder="°C">
					<input class="btn btn-primary btn-sm " name="heating" type="submit" value="✓">
					</form>
				</div>
				
				</div>
				</div>
			</div>
				<hr class="col-xs-12">
				
					<p class="display-4 d-inline">Wentylator </p>
				<div class="float-right">
					<p class=" h3 d-inline">{{ fan[1] }}%</p>
					{% if fan[0]==1 %}
						<a  href="/control/temperature/fan/0" class="btn btn-lg btn-dark bigonof" role="button">Wyłącz</a> 
					{% else %}
						<a href="/control/temperature/fan/1" class="btn btn-lg btn-dark active bigonof" role="button">Włącz</a> 
					{% endif %}
				</div>
				
				<hr class="col-xs-12">
					<div class="form-group">
				    <form method="post" action="{{url_for('control.panel') }}">
					<input class='form-control-range' name='fan' type="range" step="1" min="0" max="100">
					
					<div class ="float-right">
					<input class="btn btn-primary btn-sm " name="fan" type="submit" value="✓">
					</div>
					</form>
					
				</div>
				
				
	</div>
    </div>

</main>

{% endblock %}



