{% extends 'base.html' %}
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        

<title>Parametry</title>
{% endblock %}

{% block body %}


<main role="main">
    <div class="jumbotron">

		<hr class="col-xs-12">
            <p class="display-4 d-inline">Regulator PID</p>
		<hr class="col-xs-12">
		
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-6 border rounded justify-content-cente">
                <div class="row">
				<p class="h4 d-inline">Chłodzenie</p>
                </div>
                <div class="float-right">
                        <p class=" h6 ">Aktualne Kp = {{ pid_cool[0] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="CK" name='CK' type="number" step="0.1" min="0" placeholder="Kp">
                            <input class="btn btn-primary btn-sm " name="CK" type="submit" value="✓">
                        </form>
                        </div>
                                    
                        <p class=" h6 ">Aktualne Ti = {{ pid_cool[1] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="CKi" name='CKi' type="number" step="0.1" min="0" placeholder="Ti">
                            <input class="btn btn-primary btn-sm " name="CKi" type="submit" value="✓">
                        </form>
                         </div>

                        <p class=" h6 ">Aktualne Td = {{ pid_cool[2] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="CKd" name='CKd' type="number" step="0.1" min="0" placeholder="Td">
                            <input class="btn btn-primary btn-sm " name="CKd" type="submit" value="✓">
                        </form>
                         </div>

                            	<a href="/parameters/reset/pid_c" class="btn btn-lg btn-dark" role="button">Domyślne</a>

                </div>
                </div>


                <div class="col-sm-12 col-lg-6 border rounded justify-content-cente">
				<div class="row">
                <p class="h4 d-inline">Ogrzewanie</p>
                </div>
                   <div class="float-right">     
                        <p class=" h6 ">Aktualne Kp = {{ pid_heat[0] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="HK" name='HK' type="number" step="0.1" min="0" placeholder="Kp">
                            <input class="btn btn-primary btn-sm " name="HK" type="submit" value="✓">
                        </form>
                         </div>
                         
                        <p class=" h6 ">Aktualne Ti = {{ pid_heat[1] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="HKi" name='HKi' type="number" step="0.1" min="0" placeholder="Ti">
                            <input class="btn btn-primary btn-sm " name="HKi" type="submit" value="✓">
                        </form>
                         </div>

                        <p class=" h6 ">Aktualne Td = {{ pid_heat[2] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="HKd" name='HKd' type="number" step="0.1" min="0" placeholder="Td">
                            <input class="btn btn-primary btn-sm " name="HKd" type="submit" value="✓">
                        </form>
                         </div>
                    <a href="/parameters/reset/pid_h" class="btn btn-lg btn-dark" role="button">Domyślne</a>

                </div>
                </div>
        </div>

				
            
    <hr class="col-xs-12">
            <p class="display-4 d-inline">Nasycenie PWM</p>
		<hr class="col-xs-12">
		
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-6 border rounded justify-content-cente">
                <div class="row">
				<p class="h4 d-inline">Chłodzenie</p>
                </div>
                <div class="float-right">
                        <p class=" h6 ">Aktualny unkt nasycenia = {{ pid_cool[3] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="CBP" name='CBP' type="number" step="0.01" min="0" placeholder="Punkt nasycenia">
                            <input class="btn btn-primary btn-sm " name="CBP" type="submit" value="✓">
                        </form>
                        </div>
                                    
                        <p class=" h6 ">Aktualna histereza = {{ pid_cool[4] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="CHis" name='CHis' type="number" step="0.01" min="0" placeholder="Histereza">
                            <input class="btn btn-primary btn-sm " name="CHis" type="submit" value="✓">
                        </form>
                         </div>
                            	<a href="/parameters/reset/sat_c" class="btn btn-lg btn-dark" role="button">Domyślne</a>

                </div>
                </div>
                
                <div class="col-sm-12 col-lg-6 border rounded justify-content-cente">
                <div class="row">
				<p class="h4 d-inline">Ogrzewanie</p>
                </div>
                <div class="float-right">
                        <p class=" h6 ">Aktualny punkt nasycenia = {{ pid_heat[3] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="HBP" name='HBP' type="number" step="0.01" min="0" placeholder="Punkt nasycenia">
                            <input class="btn btn-primary btn-sm " name="HBP" type="submit" value="✓">
                        </form>
                        </div>
                                    
                        <p class=" h6 ">Aktualna histereza = {{ pid_heat[4] }}</p>
                        <div class="form-group">
                            <form method="post" action="{{url_for('parameters.parametr') }}">
                            <input class="HHis" name='HHis' type="number" step="0.01" min="0" placeholder="Histereza">
                            <input class="btn btn-primary btn-sm " name="HHis" type="submit" value="✓">
                        </form>
                         </div>
                            	<a href="/parameters/reset/sat_h" class="btn btn-lg btn-dark" role="button">Domyślne</a>

                </div>
                </div>
                </div>    


            


</main>

{% endblock %}



